<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>

<% intro_page_content = yield %>
<% intro_page_quick_links = yield %>
<% api_page_content = yield %>
<% vanilla_page_content = yield %>
<% react_page_content = yield %>
<% module_page_content = yield %>
<%
  if current_page.data.intro_quick_links
    current_page.data.intro_quick_links.each do |include|
      intro_page_quick_links += partial("includes/#{include}")
    end
  end

  if current_page.data.intro_includes
    current_page.data.intro_includes.each do |include|
      intro_page_content += partial("includes/#{include}")
    end
  end

  if current_page.data.api_includes
    current_page.data.api_includes.each do |include|
      api_page_content += partial("includes/#{include}")
    end
  end

  if current_page.data.vanilla_includes
    current_page.data.vanilla_includes.each do |include|
      vanilla_page_content += partial("includes/#{include}")
    end
  end

  if current_page.data.react_includes
    current_page.data.react_includes.each do |include|
      react_page_content += partial("includes/#{include}")
    end
  end

  if current_page.data.module_includes
    current_page.data.module_includes.each do |include|
      module_page_content += partial("includes/#{include}")
    end
  end
%>

<% language_tabs = current_page.data.language_tabs || [] %>

<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title || "API Documentation" %></title>
    <%= favicon_tag 'https://cdn.basistheory.com/images/favicons/favicon.ico' %>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="API Reference documentation for the Basis Theory API. Includes code examples for all official Basis Theory SDKs and user guides for various use cases.">
    <meta property="og:description" content="API Reference documentation for the Basis Theory API. Includes code examples for all official Basis Theory SDKs and user guides for various use cases.">
    <meta property="og:image" content="https://cdn.basistheory.com/images/seo/docs-opengraph.png">

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>

    <%= stylesheet_link_tag :header, media: :screen %>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :home, media: :screen %>
    <%= stylesheet_link_tag :guides, media: :screen %>
    <%= stylesheet_link_tag :iubenda, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>

    <script src="https://kit.fontawesome.com/86c3cd0147.js" crossorigin="anonymous"></script>

    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
      <script>
        $(function() { setupCodeCopy(); });
      </script>
    <% end %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M56229L');</script>
    <!-- End Google Tag Manager -->

  <!-- Iubenda -->
  <!-- IF YOU ARE UPDATING THIS, MAKE SURE YOU PUT THE CSS INTO THE source/stylesheets/iubenda.css.scss file and remove it here. -->
  <script type="text/javascript">
  var _iub = _iub || [];
  _iub.csConfiguration = {"ccpaAcknowledgeOnDisplay":true,"consentOnContinuedBrowsing":false,"countryDetection":true,"enableCcpa":true,"gdprAppliesGlobally":false,"lang":"en","siteId":2378844,"cookiePolicyId":13137791, "callback":{ "onPreferenceExpressedOrNotNeeded":function(preference) { dataLayer.push({iubenda_ccpa_opted_out: _iub.cs.api.isCcpaOptedOut()}); if (!preference) { dataLayer.push({event: "iubenda_preference_not_needed"});} else { if (preference.consent === true) { dataLayer.push({event: "iubenda_consent_given"});} else if (preference.consent === false) { dataLayer.push({event: "iubenda_consent_rejected"});} else if (preference.purposes) { for (var purposeId in preference.purposes) {if (preference.purposes[purposeId]) { dataLayer.push({event: "iubenda_consent_given_purpose_" + purposeId}); }}}}} }, "banner":{ "acceptButtonCaptionColor":"#070a1b","acceptButtonColor":"#1ad1db","acceptButtonDisplay":true,"backgroundColor":"#141729","closeButtonDisplay":false,"customizeButtonCaptionColor":"#d2d2d2","customizeButtonColor":"#1a1e32","customizeButtonDisplay":true,"position":"bottom","rejectButtonCaptionColor":"white","rejectButtonColor":"#1e2337","rejectButtonDisplay":true,"textColor":"#e5e6ec","acceptButtonCaption":"Accept All","content":"<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\" />\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossOrigin=\"true\" />\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\" />\n<style>\ndiv#iubenda-cs-banner {\n  font-size: 16px !important;\n  font-family: 'Inter', sans-serif, -apple-system, sans-serif !important;\n}\n\ndiv#iubenda-cs-banner div.iubenda-cs-container {\n  border-top: 1px solid #2f3244 !important;\n}\n\ndiv#iubenda-cs-banner .iubenda-banner-content {\n  font-family: 'Inter', sans-serif, -apple-system, sans-serif !important;\n  font-weight: 400 !important;\n  color: #8389a6 !important;\n  font-size: 14px !important; \n}\n\ndiv#iubenda-cs-title {\n  color: #E5E6EC !important;\n  font-size: 16px !important;\n}\n\ndiv#iubenda-cs-banner div.iubenda-cs-opt-group button {\n  padding: 12px 32px !important;\n  font-weight: 600 !important;\n  border-radius: 4px !important;\n}\n\nbutton.iubenda-cs-accept-btn {\n  box-shadow: 1px 1px 3px 0 rgb(49 255 255 / 30%), inset 0 0 0 1px hsl(0deg 0% 100% / 40%);\n  margin-left: 16px !important;\n}\n\n@media (min-width: 992px) {\n  #iubenda-cs-banner.iubenda-cs-default div.iubenda-cs-rationale {\n    max-width: 1200px !important;\n    width: 100% !important;\n  }\n}\n</style><div id=\"iubenda-cs-title\">&#x1f36a;  &nbsp;Cookie Notice</div><div id=\"iubenda-cs-paragraph\">\n\nBy clicking \"Accept All\", you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. View our <a href=\"https://basistheory.com/privacy-policy\" target=\"_blank\">Cookie Policy</a> for more information.\n</div>" }};
  </script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
  <!-- End Iubenda -->
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <!-- Mobile Nav Icon/Button -->
    <a href="/#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <!-- End Mobile Nav Icon/Button -->

    <!-- Sidebar/TOC -->
    <%= partial "partials/sidebar",
        locals: {
          language_tabs: language_tabs,
          intro_page_content: intro_page_content,
          api_page_content: api_page_content,
          vanilla_page_content: vanilla_page_content,
          react_page_content: react_page_content,
          current_page: current_page,
       }
    %>
    <!-- End Sidebar/TOC -->

    <!-- Header -->
    <%= partial "partials/header",
        locals: {
          current_page: current_page
        }
    %>
    <!-- End Header -->

    <!-- Header Spacer -->
    <div class="header-spacer">
    <!-- End Header Spacer -->

    <!-- Main -->
    <div class="page-wrapper">

      <!-- Code Sidebar -->
      <% if current_page.data.hide_code != true %>
        <div class="dark-box">
          <% if language_tabs.any? %>
            <div class="lang-selector">
              <% language_tabs.each do |lang| %>
                <% if lang.is_a? Hash %>
                  <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
                <% else %>
                  <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- End Code Sidebar -->

      <!-- Content -->
      <div class="<%= current_page.data.hide_code ? "content no-code-content" : "content" %>">
        <div class="header-border">
          <!-- TODO: Move Search Here? -->
        </div>
        <%= intro_page_content %>
        <%= api_page_content %>
        <%= vanilla_page_content %>
        <%= react_page_content %>
        <%= module_page_content %>
      </div>
      <!-- End Content -->
    </div>
  </body>
</html>
