    <div class="toc-wrapper">
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search...">
        </div>
        <ul class="search-results"></ul>
      <% end %>

      <h1 class="nav-title">Overview</h1>
      <ul id="toc_intro" class="toc-section toc-list-h1">
        <% toc_data(intro_page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if current_page.data.api_includes %>
        <h1 class="nav-title">API Endpoints</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% toc_data(api_page_content).each do |h1| %>
            <li>
              <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
              <% if h1[:children].length > 0 %>
                <ul class="toc-list-h2">
                  <% h1[:children].each do |h2| %>
                    <li>
                      <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.vanilla_includes %>
        <h1 class="nav-title">Vanilla JS</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% toc_data(vanilla_page_content).each do |h1| %>
            <li>
              <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
              <% if h1[:children].length > 0 %>
                <ul class="toc-list-h2">
                  <% h1[:children].each do |h2| %>
                    <li>
                      <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.react_includes %>
        <h1 class="nav-title">React</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% toc_data(react_page_content).each do |h1| %>
            <li>
              <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
              <% if h1[:children].length > 0 %>
                <ul class="toc-list-h2">
                  <% h1[:children].each do |h2| %>
                    <li>
                      <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.mobile_includes %>
        <h1 class="nav-title">Mobile</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% toc_data(mobile_page_content).each do |h1| %>
            <li>
              <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
              <% if h1[:children].length > 0 %>
                <ul class="toc-list-h2">
                  <% h1[:children].each do |h2| %>
                    <li>
                      <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.reference_links %>
        <h1 class="nav-title">Reference</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% current_page.data.reference_links.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.aux_links %>
        <h1 class="nav-title">More</h1>
        <ul id="toc_api" class="toc-section toc-list-h1">
          <% current_page.data.aux_links.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>

      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li class="toc-h1"><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
